.card {
  background-color: #fff;
  padding: 10px;
  transition: all .3s;
}
.card:hover {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.cardImg {
  text-align: center;
  margin-bottom: 20px;
}
.cardImg img {
  width: 40%;
  height: 200px;
  object-fit: contain;
}
.cardInfo {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  padding: 10px 20px;
}
.cardTitle {
  font-size: 14px;
  margin-bottom: 10px;
}
.cardPrice {
  color: #D9455F;
}
.cardRight {
  background-color: #D9455F;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

